/* input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
} */

body {
	background-image: url("images/blue.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#error-message { 
    color: red;
}

#data-table {
    overflow-y: auto;
}

.recipeImage {
    /* float: left;
    justify-content: flex-start; */
    display: inline-block;
    height: 200px;
    width: 300px;
    border: 5px solid black;
    margin: 25px;
    text-align: center;
}

h2 {
    font-size: 100%;
}

#goalWeightDisplay {
    text-align: center;
}

